/* ------------------------ Sobre a página --------------------------------------------- */

:root {
  --fundo-primaria: #111827;
  --fundo-secundaria: #3d578d;
  --cor-texto-branco: #e5e7eb;
  --texto-chamativo-linaer-1: #3b82f6;
  --texto-chamativo-linear-2: #60a5fa;
  --font-titulo: "Armata", sans-serif;
  --font-sub-titulo: "Arsenal", sans-serif;
}

.linha__separadora {
  border: solid 1px white;
  box-shadow: var(--cor-texto-branco) 1px 0px 10px;
}
.container__pai {
  margin: 20vh;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(var(--fundo-primaria), var(--fundo-secundaria));
  background-size: cover;
  background-repeat: no-repeat;
}

/* ----------------------------- Cabeça da página -------------------------------------- */

.container__cabeca {
  overflow: hidden;
  margin: 68px 62px;
  border: solid 1px white;
  border-radius: 20px;
  font-family: var(--font-titulo);
  color: var(--cor-texto-branco);
}

.container__cabecario {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  padding: 15px;
}

.nome {
  display: flex;
  align-items: center;
}

nav {
  display: flex; /* organiza em linha */
  justify-content: center; /* centraliza no meio horizontal */
  align-items: center; /* centraliza verticalmente */
  gap: 30px; /* espaço entre os itens */
}

nav ul {
  display: flex;
  list-style: none; /* tira as bolinhas */
  gap: 20px; /* espaço entre os links */
}

nav a {
  color: var(--cor-texto-branco);
  text-decoration: none;
}

nav a:hover {
  text-shadow: #e5e7eb 1px 0px 10px;
  font-size: 21px;
}

/* .container__botao {
  display: flex;
  margin-left: 100px;
}

button#tradutor {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--cor-texto-branco);
  background-color: transparent;
  border: solid 2px var(--texto-chamativo-linaer-1);
  border-radius: 80px;
  padding: 0px 5px 0px 7px;
  font-size: 15px; 
}*/

/* ----------------------------------- pág visual ---------------------------------------------- */

.container__alinhamento-texto {
  display: flex;
  justify-content: space-around;
  height: 70vh;
  font-family: var(--font-sub-titulo);
}

.container__titulo {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container__alinhamento-texto h1 {
  background: -webkit-linear-gradient(
    var(--texto-chamativo-linaer-1),
    var(--texto-chamativo-linear-2)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
}

.container__alinhamento-texto p {
  color: var(--cor-texto-branco);
  font-size: 20px;
}

.img__npc {
  height: 400px;
  filter: drop-shadow(0 0 0.75rem var(--texto-chamativo-linear-2));
}

/* -------------------- Pág tecnologia -------------------------------*/
.container__tecnologia {
  margin: 10px;
  height: 100vh;
  font-family: var(--font-sub-titulo);
  color: var(--cor-texto-branco);
}

.container__tecnologia h2 {
  font-size: 40px;
}

.container__tecnologia p {
  font-size: 35px;
  text-align: center;
  margin: 60px 0px 50px 0px;
}

.img__tecnologia {
  text-align: center;
}

.img__tecnologia img {
  height: 110px;
  width: 110px;
  margin: 15px;
  filter: drop-shadow(0 0 0.75rem var(--texto-chamativo-linear-2));
}

.img__tecnologia img:hover {
  height: 112px;
  width: 112px;
  filter: drop-shadow(0 0 1rem var(--cor-texto-branco));
}

/* ---------------- Pág Contato ----------------------- */

.email__contato p{
  margin-top: 10px;
}

.container__pai-contato {
  font-family: var(--font-sub-titulo);
  color: var(--cor-texto-branco);
}

.container__corte {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.container__01 {
  display: flex;
  font-family: var(--font-sub-titulo);
  font-size: 40px;
  color: var(--cor-texto-branco);
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 80px;
}

.container__02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container__02 h4 {
  font-size: 30px;
}

.container__02 p {
  font-size: 25px;
  margin-bottom: 40px;
}

.container__02 img {
  margin-top: 10px;
  padding: 5px;
  width: 60px;
}

.container__02 img:hover {  
  width: 62px;
  filter: drop-shadow(0 0 0.75rem var(--texto-chamativo-linear-2));
}

.container__03 {
  width: 100vh;
}

.container__03 h4 {
  font-size: 30px;
  margin-bottom: 20px;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
}

#form label {
  font-size: 20px;
}

#form input, textarea{
  border: solid 3px var(--fundo-secundaria);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.142);
  width: 60vh;
  height: 5vh;
  color: var(--cor-texto-branco);
  padding: 10px;
}

#form textarea {
  height: 10vh;
}

#form button {
  width: 13vh;
  color: var(--cor-texto-branco);
  background-color: transparent;
  border: solid 2px var(--cor-texto-branco);
  border-radius: 80px;
  padding: 2px;
  font-size: 15px;
}

#form button:hover {
  width: 14vh;
  padding: 3px;
  box-shadow: 0 0 0.75rem white;
}

/* --------------- rodapé -------------- */

footer {
  display: flex;
  align-items: center;
  height: 10vh;
  font-size: 15px;
  color: var(--cor-texto-branco);
  background-color: var(--fundo-primaria);
}

footer p {
  margin-left: 50px;
}